.DS_Store
.gitignore.swp
combine_tutorial_2017_cache/*
combine_tutorial_2017_files/*
exampleGR.gff
example_wigToBigWig.bw
transcriptHg19.gff
transcriptHg19.gtf
PaulHarrison.R
homo_sapiens_UCSC_hg38_200.gtf
